<form autocomplete="on" 
      [formGroup]="miFormulario" 
      (ngSubmit)="login()">

  <div
    class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
    <h2 class="lead fw-bold mb-0 me-3">Inicio de sesión</h2>
  </div><hr/>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label>Correo electrónico:</label>
    <input
      type="email"
      class="form-control form-control-lg"
      formControlName="email"
      placeholder="Ingrese su correo"
    />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-3">
    <label>Contraseña:</label>
    <input
      type="password"
      class="form-control form-control-lg"
      formControlName="password"
      placeholder="Ingrese su contraseña"
    />
  </div>
  
  <div class="text-center text-lg-center mt-4 pt-2">
    <button
      type="button"
      class="btn btn-primary bg-opacity-35 btn-lg"
      style="padding-left: 2.5rem; padding-right: 2.5rem"
      type="submit"
      [disabled]="miFormulario.invalid">
      Iniciar sesión
    </button>

    <p class="small fw-bold mt-2 pt-1 mb-0">
      ¿No tiene una cuenta?
      <a routerLink="/auth/registro" class="link-info">Registrar</a>
    </p>
  </div>
</form>
