<div class="container"></div>
<h1 class="title">
  {{ title | uppercase }}
  Registro
  <small></small> 
  <span class="spacer"></span>
  <button mat-button color="accent" [routerLink]="['rotacion/listado']">
    Regresar
  </button>
</h1>

<div fxLayout="row" 
     fxLayoutGap="40px" 
     fxLayout.xs="column">

  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" 
         fxLayout.xs="column" 
         fxLayoutGap="20px">

      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Periodo</mat-label>
        <mat-select>
          <mat-option *ngFor="let options of periodoList"
                      >{{options}}

          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Ingreso</mat-label>
        <input matInput type="number" formControlName="ingreso"  required >
      </mat-form-field><br>
   

    <mat-form-field fxFlex="100" fxLayout.xs="column">
      <mat-label>Retiro</mat-label>
      <input matInput type="number"formControlName="retiro">
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Personal de inicio</mat-label>
      <input matInput type="number"formControlName="personalInicio" >
    </mat-form-field><br>

    <mat-form-field fxFlex="100" fxLayout.xs="column">
      <mat-label>Personal final</mat-label>
      <input matInput type="number"formControlName="personalFinal" >
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Resultado</mat-label>
      <input matInput type="number"formControlName="resultado" >
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Meta</mat-label>
      <input matInput type="number"formControlName="meta" >
    </mat-form-field>

  </div>


  <mat-card-actions>
        <button mat-raised-button 
        color="primary"
        (click)="guardar()">
        <mat-icon>edit</mat-icon>
        Guardar
        </button>
        <span class="spacer"></span>

        <button 
        mat-raised-button
        (click)="deleteRegistro(id)"
        color="warn">
        <mat-icon>remove</mat-icon>
          Borrar
        </button>
      </mat-card-actions>

  </div>

</div>

