<h2>Indicador de rotación</h2>
<mat-divider></mat-divider>

<div fxLayout="row wrap" 
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

    <div fxFlex="20"
        fxFlex.lg="15"
        fxFlex.sm="30"
        *ngFor="let listarRotacion of rotaciones ">
    </div>
</div>
<mat-card >
    <mat-card-header>
        <mat-card-title>Hoja de vida de indicadores</mat-card-title> 
    </mat-card-header>

    <mat-card-content>
        <p>
            <strong>Periodo: </strong>
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
        color="accent" mat-icon-button
        [routerLink]="['/rotacion/editar']">
        <mat-icon>edit_square</mat-icon>
            Editar
        </button>
    </mat-card-actions>
</mat-card>
