<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <figure class="figure"><img class="figure-img img-fluid rounded" src="/assets/images/Banner azul.png" alt="banner"></figure>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <router-outlet></router-outlet>
         
        </div>
      </div>
    </div>
    
  </section>
<footer>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
         ©Copyright INTERASEO S.A.S 2022. Todos los derechos reservados Medellín-Colombia
      </div>
      <!-- Copyright -->
    </div>
</footer>